
        <div class="col-4 text-center">
        <img class="w-35" src="{{ image_url }}" alt="">
       
       
        <h4 class="mt-4">{{ title }}</h4>
     
        <a href="{{ link_url }}" class="btn btn-md text-purple">
          {{ link_text }}
        
        </a>
        </div>

