
<div class="container text-ghost-white">
    Private Hire Demo {{"now"|date('Y')}} &bullet; <a class="text-ghost-white" href="https://danmodevs.co.uk">danmodevs</a>
</div>
    {{function('wp_footer')}}