<section class="font-montserrat py-5 min-h-80-vh">
<div class="container py-5 text-blue">
    <div class="row featurette">
      <div class="col-md-7 order-md-2 py-5 px-3">
        <h2 class="display-5 fw-500">Getting our customers where they need to be. <br> <span class="fz-35 text-muted">When they need to be there.</span></h2>
        <p class="lead fw-500 text-muted mt-2 lh-3">At Imaginary Travel Services, punctuality is at the heart of what we do. We understand how crucial it is for you to arrive at your destination on time, whether it’s for a flight, a meeting, or a special occasion. Our experienced drivers, equipped with real-time traffic updates and route planning, ensure that you reach your destination promptly and efficiently. With us, you can trust that your journey will be smooth and timely, every time. Your schedule is our commitment.</p>
     <a href="" class="btn btn-outline-primary btn-lg fw-600">Sign up now and book online!</a>
      </div>
      <div class="col-md-5 order-md-1 p-5">
        <img src="http://i-travel-services.local/wp-content/uploads/2024/08/check-mark-3-512.png" class="img-rounded w-75" alt="">
      </div>
    </div>
    </div>
    </section>